doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet")
    style
      include template.css
  body

  - var tableHeader = ['Descripción del Item','Materiales','Cant.','Valor unit.', 'Valor total']

    div(classname='flexContent print-padding')

      //HEADER
      div.header-content

        //HEADER LEFT CONTENT
        div.header-left-content

          div.logo-container
            img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/logo.png?alt=media&token=00b1f3d4-3065-4ec4-a482-5625724660d5' alt='login' style='width:115px; height:50px;')
          div.facturador JUSTO PAGO S.A.S
            div.facturador-info NIT.900970789-8
          div.facturador-info 
            div.icons-container 
                  img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fsite_v.png?alt=media&token=dc48dc3a-476e-493a-b753-befd13602f2d')
            div Calle 13 #65c-30 Cali,Colombia
          div.facturador-info 
            div.icons-container 
              img(src="https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fphone_v.png?alt=media&token=54c6e119-ebf3-4943-b944-19d57ceeeebb" alt="")
            div (+57)(2)3480375

          div.facturador-info 
            div.icons-container 
              img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Flink_v.png?alt=media&token=d049a6f7-4ca2-4ce2-9744-959354ca89e9')
            div www.justopago.com.co


        //HEADER RIGHT CONTENT
        div.header-right-content
          div.title-service SERVICIO #{serviceId}

          div.factura-content

            div.factura-left-container
              div.factura-subtitle Facturado a:

              div
                div.factura-important-info #{user.name}
                div.factura-content CC #{user.id}
              
              div
                div.factura-content
                  div.icons-container 
                    img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fphone.png?alt=media&token=41e6b4c4-8dfe-4c23-8009-c5ab2c68dd1b')
                  div #{user.phone} 
                //
                  div.factura-content
                    div.icons-container 
                        img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fsite.png?alt=media&token=84c8f573-6c31-4aa0-9594-2a1ac5b7137d')
                    div #{property.direction}, Colombia 
                
                div.factura-content  
                  div.icons-container 
                      img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fmail.png?alt=media&token=0af24222-cafe-4fd9-858d-c3759b7faaac')
                  div #{user.email}

            div.factura-right-container
              div
                div.factura-subtitle Fecha de elaboración:
                div.factura-important-info #{currentDate}
              
              div
                div.factura-subtitle-supervisor Inmueble:
                div.factura-important-info #{service.metadata.property.nickname}
                div.factura-subtitle #{property.direction}

      div.body-content

        div.service-info-main-container

          div.service-info-container 
            div.icons-container 
              img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fdate.png?alt=media&token=865472c1-7b67-44e0-9a77-e5c159c3d547')
            div.service-text-container 
              div.service-text-title Fecha de visita
              div.service-text-info #{visitingTime}
          
          div.service-info-container 
            div.icons-container 
              img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Ftime.png?alt=media&token=61f35c9d-c083-4816-b1f6-0b54dffad2c8')
            div.service-text-container 
              div.service-text-title Tiempo de ejecución
              div.service-text-info #{timeStart}

          div.service-info-container 
            div.icons-container 
              img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fshield.png?alt=media&token=7111725e-08ab-4130-bc89-509a86654e5a')
            div.service-text-container 
              div.service-text-title Garantía
              div.service-text-info #{service.state.warranty_date}

          div.service-info-container 
            div.icons-container 
              img(src='https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Femergency.png?alt=media&token=9de475af-b42e-4f3c-b7da-341b93c74149')
            div.service-text-container 
              div.service-text-title Tipo de urgencia
              div.service-text-info 
                if service.request.priority === 0
                  div Media
                else if service.request.priority === 1
                  div Alta
                else if service.request.priority === 2
                  div Prioritaria
                else
                  div Sin definir

        div.cotizacion-title Detalles de la Cotización

        table(cellspacing=0)
            //TEABLE HEADER
            tr
              th 
                div(class='table-header-container nro-table-title') No.
              each column,index in tableHeader
                th
                  div(class=`table-header-container-right ${index + 1=== tableHeader.length ? 'last-header-element' : ''}`) #{column}
            each item,index in items
              tr
                td #{index+1}
                td 
                  div.descripcion-item-container 
                    div.descripcion-item #{item.descripcionItem}
                    each i in item.stepsItem
                      div.step-item - #{i}
                td 
                  each i in item.materiales 
                    div.materiales-container 
                      div.material-name #{i[0]}
                      div.material-unit #{i[1]}
                td
                  each i in item.cant 
                    div.materiales-container #{i}
                td
                  each i in item.valoresUnit
                    div.materiales-container $#{i}
                td
                  each i in item.valoresTotal
                    div.valor-total $#{i} 
        div.bottom-bar   
                
        //ADITIONAL INFO
        div.aditional-info-container

          //OBSERVACIONES INFO
          div.observaciones-container
            div.container-subtitle
              div.subtitle-icon 
                img(src="https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fobservaciones.png?alt=media&token=4f111c69-0dbb-40e5-a490-677a53836d3e")
              div.aditional-info-subtitle Observaciones:
            div.observaciones-big-content De acuerdo a nuestra razón social y objeto comercial para retenciones, en caso tal apliquen las siguientes tarifas:
            div.observaciones-content-container
              div.observaciones-content #[span Reteica:] 3.3 por $1.000
              div.observaciones-content #[span Retefuente:] 2%
          
          //PRICE INFO
          div.price-info-container

            div.price-item-container
              div.price-item-title Mano de obra:
              div.price-item-amount $ #{workforceTotal}

            div.price-item-container
              div.price-item-title Subtotal: 
              div.price-item-amount $ #{subtotal}

            div.price-item-container
              div.price-item-title Descuento: 
              div.price-item-amount $ #{discountTotal}

            div.price-item-container
              div.price-item-title Base AIU: 
              div.price-item-amount $ #{aiuTotal}

            div.price-item-container
              div.price-item-title IVA #{ivaProcent}%:
              div.price-item-amount $ #{ivaByAiuTotal}
            
            div(class='price-item-container top-border-total')
              div.total-price-text Total
              dvi.total-price-amount #{total}
          

        //TERMINOS INFO
        
        div.avoid-break

          div.terminos-container 
            div.container-subtitle
                div.subtitle-icon 
                  img(src="https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Fterminos.png?alt=media&token=0342d49d-b332-4af3-bda9-f039466bd43e")
                div.terminos-title Términos de negociación
            div.terminos-item #[span - Vigencia de la cotización:] Treinta (30) días calendario.
            //div.terminos-item #[span - Garantía del servicio prestado:] 6 cantidad de tiempo
            div.terminos-item #[span - Forma de pago:] Transferencia electrónica anticipo del 60% y el otro 40% a la entrega y satisfacción del cliente.

          //TRANSFERENCIA INFO
          div.transfrencias-container 
            div.container-subtitle
                div.subtitle-icon 
                  img(src="https://firebasestorage.googleapis.com/v0/b/justo-pago.appspot.com/o/icons_pdf%2Ftransferencias.png?alt=media&token=2c3e3faf-e8fb-4ee8-9bc1-78a73a2d08d1")
                div.transferencias-title Transferencias
            div.transferencias-item Cuenta de ahorros Davivienda
            div.transferencias-item 0570 01657 0390290

          //ANEXOS

        div.anexos-title Anexos

      each item,index in items 

        div.item-label-container
          div.item-label Item #{index + 1}

        div.anexo-content  
        
          div.item-resources 
            if item.resources !== undefined
              each resource in item.resources
                div.resource-container
                  img(src=resource)
            else
              div.empty-resources No hay evidencia


        //FIRMAS
          div.firmas-contianer 
            div.firma-item 
              div.firma-name Jonh Doe
              div.firma-info ELABORADO POR
            
            div.firma-item 
              div.firma-name Jonh Doe
              div.firma-info RECIBIDO POR

  //
    div.footer-container 
      div.footer-content JUSTO PAGO | CALLE 1D # 56-175 | 374778 - 3185946378 CALI


            

